* {
    margin: 0;
    padding: 0;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 8px; */
    margin: 10px 14px;
}

.header_left {
    display: flex;
    /* align-items: center; */
    margin: 8px 16px;
    gap: 28px;
}

a {
    text-decoration: none;
    color: #000;
}

.header_middle {
    display: flex;
    align-items: center;
}

.search_box {
    border: 1px solid #ddd;
    border-radius: 50px;
}

.search_box > i:nth-child(1) {
    padding: 8px 0;
    padding-left: 350px;
}

.search_box > i:nth-child(2) {
    padding: 0 16px;
}

.header_middle > figure {
    padding: 6px 12px;
    margin-left: 16px;
    border: 1px solid #ddd;
    border-radius: 100%;
}

.header_right {
    display: flex;
    gap: 20px;
}

.header_right > figure {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

button {
    background: none;
    border: none;
}

.log_in {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 6px;
    /* margin-left: 16px; */
    gap: 10px;
    color: blue;
}

.main_container {
    width: 928px;
    margin: 0 80px;
}

.main_left > iframe {
    /* margin: 0 80px; */
    margin-top: 20px;
    border-radius: 14px;
}

.main_left > h2 {
    font-size: 20px;
}

.channel_box {
    /* display: flex; */
}

.channel_text {
    display: flex;
}

ul {

}